/*********************************************/
/****************HEADER STARTS*****************/
/*********************************************/
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.header .row {
  margin: 30px 10% 30px 10%;
}

.header .centre {
  flex-direction: row;
  display: flex;
  padding: 0px;
}
.left-side {
  height: auto;
  width: auto;
}

.header .centre a {
  color: #444443;
  margin: 5px;
  padding: 0px 10px 0px 10px;
  font-family: "Nunito Sans";
  font-size: 23px;
  text-decoration: underline solid #444443 3px;
  text-underline-offset: 5px;
  background-origin: padding-box;
  text-shadow: 0.5px 0.5px 3.5px #454545;
}

.header .centre a:hover {
  box-shadow: 3px 3px 5px rgb(0, 0, 0) 5px;
}

/*********************************************/
/*****************HEADER ENDS*****************/
/*********************************************/
/*********************************************/
/*****************PARA1 STARTS****************/
/*********************************************/
.para1 {
  margin: 0 10% 0 10%;
}
.para1 .row {
  justify-content: center;
  display: flex;
}
.para1 h1 {
  font-family: "Nunito Sans";
  font-size: 45px;
  color: #444443;
  text-shadow: 2px 2px 5px #454545;
}
.para1 h4 {
  font-family: "Nunito Sans";

  color: #444443;
  font-size: 25px;
  justify-content: center;
  display: flex;
  text-align: justify;
  text-shadow: 1px 1px 2px #454545;
}
.para1 h5 {
  font-family: "Nunito Sans";
  font-size: 15px;
  color: #444443;
  justify-content: center;
  display: flex;
  text-align: justify;
  text-shadow: 1px 1px 2px #454545;
}
.para1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.vision3 {
  display: ;
  align-content: ;
}
.para1 .vision3 img {
  display: block;
  margin-left: 20%;
  margin-right: auto;
  width: 537px;
  height: 517px;
}
.text-enhance {
  color: #8eab3d;
  font-weight: 1000px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  text-shadow: 1px 1px 2px #8eab3d;
}

.para1 .vision h2 {
  font-family: "Nunito Sans";
  text-decoration: underline solid #444443 3px;
  text-underline-offset: 5px;
  text-shadow: 2px 2px 3px #454545;
  font-size: 35px;
  color: #444443;
}
.para1 .vision img {
  width: 100%;
  height: auto;
}
.vision2 {
}
.vision2 h3 {
  font-family: "Nunito Sans";
  text-align: center;
}
.vision2 p {
  font-weight: lighter;
  font-family: "Nunito Sans";
  color: #000000;
  text-align: center;
}
/*********************************************/
/*****************PARA1 ENDS******************/
/*********************************************/
/*********************************************/
/********Problems & Solutions Starts**********/
/*********************************************/
.prob-sol a {
  margin-top: 100px;
  font-family: "Nunito Sans";
  justify-content: center;
  display: flex;
  background-color: #f1f6ff;
  border-radius: 25px;
  box-shadow: 3px 3px 5px #c5c5c5;
  margin: 80px;
  padding: 15px;
  color: #444443;
  text-underline-offset: 3px;
}
.prob-sol h1 {
  font-size: 15px;
}
.problem {
  background-image: linear-gradient(to right, white, #cbeaff);
  margin-top: 200px;
  min-height: 700px;
}
.prob-space {
  color: #444443;
  font-family: "Nunito Sans";
  font-size: 25px;
  display: flex;
  justify-content: center;
}
.prob-space h1 {
  font-weight: 1000;
}
/*********************************************/
/*********Problems & Solutions ENDS***********/
/*********************************************/

.hover-board {
  background-color: white;
  width: %;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
.front-cover {
  font-family: "Nunito Sans";
  color: #444443;
  margin-left: px;

  text-align: center;
}
.sexy-back:hover .overlay {
  opacity: 1;
}
.sexy-back .front-cover {
  position: relative;
}

.sexy-back .front-cover img {
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #e9f7ff;
}
.text-overlay {
  font-family: "Nunito Sans";
  color: #444443;
  font-size: 20px;
  position: absolute;
  padding: 70px 5px 0px 5px;
  text-align: left;
  font-weight: 600;
  display: flex;
  text-align: center;
}
.solutions p{
  font-weight: 600;
}
.front-cover img {
  display: block;
  width: auto;
  height: 100%;
}
.front-cover h2 {
  margin-left: 2px;
  margin-right: 2px;
  flex-direction: row;
  display: flex;
}
.bot-line {
  margin-top: 100px;
  border-bottom: 1px solid black;
  left: 10%;
}
.solutions .container {
  display: flex;
  justify-content: center;
}
.solutions h2 {
  font-family: "Nunito Sans";
  margin-top: 100px;
}

.solutions p {
  font: 1em sans-serif;
  color: #696969;
  font-family: "Nunito Sans";
  margin-top: ;
}
.line-in-between {
  border: 1px solid #b9b9b9;
  width: 100%;
  margin-bottom: 40px;

  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.reposition {
  margin-top: 100px;
  margin-left: -60px;
}
.footer {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.footer h6 {
  font-family: "nunito sans";
  font-size: 25px;
  font-weight: 600;
  color: #696969;
  text-shadow: 1px 1px 1px #696969;
}
.footer h5 {
  font-family: "nunito sans";
  transform: translateY(-800%);
  font-weight: 600;
  color: #696969;
}
/*********************************************/
/*************TEAM PAGE STARTS****************/
/*********************************************/
.team-background {
  background-image: linear-gradient(to right, white, #cbeaff);
}
.team-paragraph {
  font-family: "Nunito Sans";
  color: #444443;

  text-align: center;
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 2px #696969;
}
.team-paragraph h1 {
  font-size: 4vw;
}
.team-paragraph p {
  font-weight: 600;
}

.home-allign {
}

.team-background .home-allign h2 {
  font-family: "Nunito sans";
  font-weight: 700;
  color: #8eab3d;
  text-shadow: 1px 1px 3px #696969;
  font-size: 5.5vw;
  width: 70%;
}

.home-allign p {
  font-family: "Nunito sans";
  font-weight: 400;
  color: #444443;
  text-shadow: 1px 1px 3px #696969;
  font-size: 3vw;
  width: 70%;
}

.home-allign img {
  width: 20%;
  height: auto;
}
.home-allign-img {
  width: 80%;
}
.home-allign-img img {
  width: 80%;
  height: auto;
  transform: translateY(-30%) translateX(65%);
}
.home-allign-2 {
  background-image: linear-gradient(to left, white, #cbeaff);
}
.home-allign h2 {
  font-family: "Nunito sans";
  font-weight: 700;
  color: #8eab3d;
  text-shadow: 1px 1px 3px #696969;
  font-size: 3.5vw;
  width: 70%;
}

.home-allign-2 p {
  font-family: "Nunito sans";
  font-weight: 400;
  color: #444443;
  text-shadow: 1px 1px 3px #696969;
  font-size: 2vw;
  width: 70%;
}

.home-allign-2 img {
  width: 20%;
  height: auto;
}
.home-allign-2-img {
  width: 80%;
}
.home-allign-2-img img {
  width: 80%;
  height: auto;
  transform: translateY(-30%) translateX(45%);
}
.icon {
  display: flex;
  justify-content: flex-end;
  transform: translateX(4%);
}
.icon img {
  width: 30%;
  height: auto;
}
.featured {
  background-color: white;
  margin-top: 10px;
  width: 100%;
  height: auto;
}
.featured img {
  margin: 10px;
  padding: 10px;
  width: 15%;
  height: auto;
  transform: translateX(40%);
}
.as-featured {
  font-family: "Nunito sans";
  font-weight: 800;
  color: #444443;
  text-shadow: 1px 1px 2px #696969;
  text-align: center;
}
.as-featured h2 {
  font-size: 2.5vw;
}
.team-background-second {
  background-image: linear-gradient(to right, #cbeaff, white);
}
.team-background-second h1 {
  font-family: "nunito sans";
  font-size: 3.5vw;
  font-weight: 700;
  color: #444443;
  text-shadow: 1px 1px 2px #696969;
}
.app-header {
  display: flex;
  justify-content: center;
}
.team-background-second h2 {
  font-family: "nunito sans";
  font-size: 3vw;
  font-weight: 700;
  color: #444443;
  text-shadow: 1px 1px 2px #696969;
}
.team-background-second p {
  font-family: "nunito sans";
  font-size: 2.5vw;
  font-weight: 400;
  color: #444443;
  text-shadow: 1px 1px 1px #696969;
}
.produce-img {
  width: 70%;
}
.produce-img img {
  width: 50%;
  transform: translateX(190%) translateY(-70%);
}
.produce-img-rev {
  padding-left: 200px;
}
.produce-img-rev img {
  width: 60%;
  transform: translateX(-100%) translateY(-60%);
}
.team-background-second .line-in-between {
  border: 1px solid #b9b9b9;
  width: 100%;
  margin-bottom: 40px;

  margin-top: -60px;
  display: flex;
  justify-content: center;
}
.second-header .left-side {
  margin-top: 50px;
}
.second-header h2 {
  margin-top: 45px;
  margin-left: 10px;
  font-family: "nunito sans";
  text-shadow: 1px 1px 1px #696969;
  color: #444443;
}
.second-header p {
  margin-left: 10px;
  font-family: "nunito sans";
  color: #444443;
  font-weight: 600;
}
.learn-page {
  display: flex;
  justify-content: center;
}
.learn-page img {
  width: 85%;
  height: auto;
  margin-top: 20px;
}

.get-in-touch {
  font-family: "nunito sans";
  background-image: linear-gradient(to right, white, #cbeaff);
  margin-top: 80px;
  width: 100%;
  height: auto;
}
.get-in-touch h2 {
  font-weight: 700;
  font-size: 3.5vw;
  color: #444443;
  text-shadow: 1px 1px 1px #696969;
  width: 70%;
}
.get-in-touch p {
  font-weight: 400;
  font-size: 1.5vw;
  color: #444443;
}

.get-in-touch .produce-img {
  width: 70%;
  transform: translateY(-50%);
}
.carousel {
  position: relative;
  height: 600px;
  width: 60%;
  margin: 0 auto;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-track-container {
  height: 100%;
}

.carousel-track {
  pad: 0;
  margin: 0;
  list-style: none;
}

.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(135%);
  background: transparent;
  height: 100px;
  border-radius: 5px;
}
.carousel-button--left {
  left: -25px;
}
.carousel-button--right {
  right: -30px;
}
.carousel-button img {
  width: 12px;
}
.carousel-nav {
  background-color: tomato;
  display: flex;
  justify-content: center;
  transform: translateX(8.5%);
}

.carousel-indicator {
  border: 0;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background: black;
  margin: 0 12px;
}
.hello-there h1 {
  font-family: "nunito sans";
  font-size: 3.5vw;
  font-weight: 700;
  color: #8eab3d;
  text-shadow: 1px 1px 2px #696969;
}
.hello-there p {
  font-family: "nunito sans";
  font-size: 1.5vw;
  font-weight: 400;
  color: #444443;
  text-shadow: 1px 1px 1px #696969;
}
.papii {
  font-family: "Nunito sans";
  color: #444443;
  font-size: 1.5vw;
}
.papii h3 {
  font-weight: 700;
  text-shadow: 1px 1px 1px #696969;
}
.papii p {
  font-weight: 600;
}
.papii .col-md-12 {
  display: flex;
  justify-content: end;
}
.contact-footer {
  background-image: linear-gradient(to right, white, #cbeaff);
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 100%;
  height: auto;
}
.contact-footer .imgr {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.contact-footer .imgr img {
  max-width: 100%;
  height: auto;
}
.back-home p {
  display: flex;
  justify-content: center;
  font-family: "nunito sans";
  font-size: 2vw;
  font-weight: 700;
  text-shadow: 1px 1px 1px #696969;
  color: #444443;
  text-decoration: underline solid #444443 2px;
}

.back-home {
  text-underline-offset: 5px;
  text-underline: color: #444443;
}
